.not-found-banner {
    text-align: center;
    margin: 0 auto;
    background: url(../../assets/images/not-found-bg.jpg);
    background-size: cover;
    height: 300px;
    width: 100%;
    position: relative;
    top:-57px;
}

.not-found-banner h1 {
    font-size: 72px;
}

.not-found-banner h2 {
    font-size: 22px;
    letter-spacing: 10px;
}

#search-bar {
  position: absolute;
  left: 27%;
}

@media screen and (min-width: 1920px) {
  #search-bar{
    left: 28%;
  }
}

@media screen and (max-width: 991px) {
  #search-bar{
    left: 20%;
  }
}

@media screen and (max-width: 767px) {
  #search-bar{
    left: 6%;
  }
}

@media screen and (max-width: 479px) {
  #search-bar{
    left: 5%;
  }
}

@media screen and (max-width: 359px) {
  #search-bar{
    left: 4%;
  }
}
