.card {
  /* Add shadows to create the "card" effect */
  border: 1px solid rgba(150,150,150,0.3);
  border-bottom-color: rgba(125,125,125,0.3);
  margin-bottom: 16px;
  padding: 22px 22px 18px 22px;
  transition: 0.3s;
  width: 434px;
  margin-top: 20px;
}

@media screen and (max-width: 450px) {
  div.card {
    width: 92vw;
  }
}
