/** Basic results 'All' **/
.result {
  margin-left: 6.3%;
  padding-top: 10px;
}

.row{
  min-height: 84vh;
}

.title {
  font-size: large;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.link > p {
  color: #006621;
  text-decoration: none;
  word-wrap: break-word;
  font-size: 14px;
  font-style: normal;
  font-family: Arial, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.description {
  text-align: justify;
  color: #808080;
  line-height: 1.4;
  word-wrap: break-word;
  margin-top: -8px;
}

.feed {
  left: 0.3%;
}

.feed.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-lg-10.col-lg-offset-1 {
  width: 53%;
  left: -1.5px;
}

.title-pointer:hover {
  text-decoration: underline;
}

.title-pointer {
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
  color: #1a0dab;
  font-family: Arial, sans-serif;
}
/** END **/
/** Screen responsiveness for result feed **/
@media screen and (max-width:571px) {
  .feed {
    max-width: 100%;
  }
}
/** END **/

.page-link {
  cursor: pointer;
  text-align: center;
}

.page-item2 span{
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border: 0px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.side-text{
  color: #4285f4;
  text-align: center;
  font-weight: 500;
  padding-top: 4px;
}

.arrow{
  font-size: large;
  font-weight: 900;
  padding-bottom: 4%;
}

.message-bar {
  margin-top: 1%;
  font-size: small;
  color: #808080;
  margin-left: 6.1%;
}

.text-result {
  margin-left: 2%;
}

.container-fluid{
  position: relative;
}

.container-fluid ul{
  padding-top: 6px;
}

.container-fluid li{
  height: 15px;
  line-height: 15px;
  padding-top: 28px;
}

.container-fluid li a{
  position: relative;
}

.page-text{
  font-size: xx-large;
  color: #1a0dab;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.prev, .next{
  color: #7f7f7f;
}
.page-number{
  font-size: smaller;
}

.dropdown-menu > li {
  font-size: small;
  padding: 3px;
  text-align: center;
  text-decoration: none;
}

.dropdown-menu > li:hover {
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgba(0,0,0,0.1);
}

.dropdown-menu > li:active {
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #1c65ba;
  color: white;
}

.active_view {
  color: #4285f4 !important;
  font-weight: 900 !important;
  padding-bottom: 12px;
  border-bottom: 3px solid #4285f4;
}

/** Rendered image properties **/
.container {
  width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  padding: 0;
}

.grid {
  padding-left: 30px;
  padding-right: 30px;
}

.responsive-image {
  max-width: 100%;
  height: 200px;
  padding-top: 20px;
  padding: 0.6%;
  display: inline-block;
  float: left;
}

.image-pointer {
  cursor: pointer;
}
/** END **/

#search-options-field {
  background-color: #f8f8f8;
  padding-bottom: 3px;
}

#search-options {
  margin-top: 0.5%;
  margin-left: 9%;
  font-size: 13px;
  max-width: 630px;
  cursor: default;
}

#search-tools {
  margin-left: 11.5%;
}

#search-tools {
  padding-left: 60px;
}

#search-tools .btn {
  border: none;
  background: none;
  font-size: small;
}

#search-options li {
  display: inline;
  cursor: pointer;
  padding-top: 28px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: 1px;
  color: #777;
  font-weight: 500;
  line-height: 15px;
  font-family: Arial, sans-serif;
}

#search-options li:hover {
  color: #222;
}

#tools {
  text-decoration: none;
  color: #777;
  position: relative;
  left: 8%;
}

#tools:hover {
  color: #222;
}

#settings {
  text-decoration: none;
  color: #777;
  position: relative;
  left: 8%;
}

#settings:hover {
  color: #222;
}

.dropdown-menu {
  float: right;
}

.dropdown{
  left: 38%;
  width: 0px;
  padding: 0;
}

#tool-dropdown li {
  text-align: left;
  color: #000000;
  display: block;
  padding-top: 8px;
  padding-bottom: 22px;
}

#setting-dropdown li {
  text-align: left;
  color: #000000;
  display: block;
  padding-top: 8px;
  padding-bottom: 22px;
}

#setting-dropdown{
  margin-top: 8%;
  margin-left: 15%;
  border-radius: 0px;
}

#tool-dropdown{
  margin-top: 8%;
  margin-left: 15%;
  border-radius: 0px;
}

#pag-bar {
  padding-top: 20px;
  width: 100%;
  margin-top: -24px;
  margin-left: 200px;
}

.pagination-property {
  max-width: 100%;
  padding-bottom: 30px;
}

.page-item span
 {
       background-color: white;
       border: 0px ;
       font-size: 13px;
 }
.page-item span{
  padding: 6px 0.4px ;
}
 .active_page{
       color: black;
 }

.clean {
  clear: both;
}

.noResults{
  margin-left: 3%;
  margin-top: 7%;
  font-size: medium;
  font-weight: normal;
}

.noResults >p{
  margin-top: 10px;
  margin-bottom: 15px;
}

.noResults >ul{
  padding-left: 16px;
}

.noResults >ul> li {
  padding-top: 0;
  padding-bottom: 18px;
}

.noResults em{
  font-weight: bold;
  font-style: normal;
}

div.video-result {
  margin-left: 8.6%;
}

@media screen and (min-width:1920px) {
  #tools {
    margin-left: 27%;
  }
}

@media screen and (max-width: 1440px) {
  .feed {
    width: 43%;
  }
}

@media screen and (max-width:1365px) {
  .feed {
    width: 49%;
  }
}

@media screen and (max-width:1175px) {
  .feed {
    width: 56%;
  }
}

@media screen and (max-width:1279px) {
  #search-options {
    margin-left: 9.1%;
  }
}

@media screen and (max-width:1139px) {
  #search-options {
    margin-left: 10.2%;
  }
  .result {
    margin-left: 8.2%;
  }
}

@media screen and (max-width:1077px) {
  #search-options {
    margin-left: 9%;
  }
  .result {
    margin-left: 6.2%;
  }
}

@media screen and (max-width:979px) {
  #search-options {
    margin-left: 8.8%;
  }
  .result {
    margin-left: 6.2%;
  }
}

@media screen and (max-width:950px) {
  .feed {
    width: 66.3%;
  }
}

@media screen and (max-width:882px) {
  #search-options {
    margin-left: 9.8%;
  }
  .result {
    margin-left: 7.7%;
  }
  .feed {
    width: 77%;
  }
}

@media screen and (max-width:767px) {
  .result {
    margin-left: 16%;
    padding-right: 30px;
  }
  .message-bar {
    margin-bottom: -10px;
  }
  #search-options {
    padding-left: 0px;
    margin-left: 8%;
  }
  #pag-bar {
    padding-left: 50px;
  }
  #search-tools {
    padding-left: 50px;
  }
  #search-options li {
    padding: 0px 2.3% 12px;
  }
}

@media screen and (max-width:741px) {
  .result {
    margin-left: 13.5%;
  }
  .feed {
    width: 87%;
  }
}

@media screen and (max-width:546px) {
  .result {
    margin-left: 13%;
  }
}

@media screen and (max-width:639px) {
  #search-options li {
    padding: 0px 1.5% 12px;
  }
}

@media screen and (max-width:479px) {
  .result {
    margin-left: 12%;
    padding-right: 20px;
  }
  #pag-bar {
    padding-left: 30px;
  }
  #search-tools {
    padding-left: 30px;
  }
  #search-options {
    margin-left: 7%;
  }
  #search-options li {
    padding: 0px 0.5% 12px;
  }
}

@media screen and (max-width:379px) {
  #search-options li {
    padding: 0px 6.2% 12px;
  }
}

@media screen and (max-width:320px) {
  #search-options li {
    padding: 0px 5.6% 12px;
  }
}
