.result{
  padding: 10px;
}
.title >a{
  color:darkblue;
  font-size: large;
  text-decoration:none;
}

.link > p{
  color:#006621;
  text-decoration:none;
}
.title >a:hover{
  text-decoration: underline;
}
.page-link{
  cursor: pointer;
}

#progressBar{
  margin-top: 1%;
  font-size: small;
  color: #88aaaa;
}

.dropdown-menu > li {
  font-size: small;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.dropdown-menu > li :hover{
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f5f5f5;
}
.dropdown-menu > li :active{
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #1c65ba;
  color: white;
}

.active_page{
  background-color: #bdcdd4;
}
.active_view{
  color: #50a1ff;
}

img.resImg{
  width: 250px;
  height: 300px;
  padding: 0.2%;
  float: left;
}
#search-options{
  margin-top: 1.75%;
  margin-bottom: 0%;
}
#search-options .btn{
  border: none;
  background: none;
  font-size: small;
}
#search-tools .btn{
  border: none;
  background: none;
  font-size: small;
}

