.result{
  padding-left: 100px;
  padding-top: 30px;
}
.title >a{
  color:darkblue;
  font-size: large;
  text-decoration:none;
}

.link > p{
  color:#006621;
  text-decoration:none;
}
.title >a:hover{
  text-decoration: underline;
}
.page-link{
  cursor: pointer;
}

#progress-bar{
  margin-top: 1%;
  font-size: small;
  color: #88aaaa;
  padding-left: 100px;
}

.dropdown-menu > li {
  font-size: small;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.dropdown-menu > li :hover{
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f5f5f5;
}
.dropdown-menu > li :active{
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #1c65ba;
  color: white;
}

.active_page{
  background-color: #bdcdd4;
}
.active_view{
  color: #50a1ff;
}

img.res-img{
  max-width: 350px;
  max-height: 300px;
  padding-top: 20px;
  padding: 0.6%;
  float: left;
}
#search-options{
  margin-top: 1.75%;
  margin-bottom: 0%;
  padding-left: 70px;
}
#search-options .btn{
  border: none;
  background: none;
  font-size: small;
}
#search-tools .btn{
  border: none;
  background: none;
  font-size: small;
}

#pag-bar{
    padding-left: 100px;
    padding-top: 20px;
}

.pagination-property {
    max-width: 100%;
}

.image-result {
    padding-left: 80px;
}
.clean{
  clear: both;
}
