sudo: required
dist: trusty
language: node_js
node_js:
- 8.9.4
before_install:
- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start

before_script:
  - ng build --prod

script:
  - ng test --single-run --code-coverage --reporters=coverage-istanbul
  - ng lint

after_success:
- bash <(curl -s https://codecov.io/bash)
- bash ./pr_deploy.sh
- bash ./deploy.sh
cache:
    bundler: true
    directories:
    - node_modules

branches:
   only:
   - master
