sudo: required
dist: trusty
language: node_js
node_js:
- 6
before_install:
- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- docker build -t ci-build .
script:
- >
  docker run --rm -v $(pwd):/proj ci-build
- >
  docker run -ti -v $(pwd):/app --workdir=/app coala/base coala --version
after_success:
- bash ./deploy.sh
- bash <(curl -s https://codecov.io/bash)
cache:
    bundler: true
    directories:
    - node_modules
    - .coala-cache
services: docker
branches:
   only:
   - angular
