<div *ngIf="results?.length > 0" class="card">
  
  <div>
    <h2 class="heading"><b>{{this.results[0].label}}</b></h2>
    <p class="description">{{this.results[0].description}}</p>
  </div>

  <div class="card-container" id="relate">
    <h3 class="related-searches"><b>Related Searches</b></h3>

    <div *ngFor="let result of results">
      <a [routerLink]="resultsearch" [queryParams]="{query: result.label}" [style.color]="themeService.linkColor">{{result.label}}</a>
    </div>
  </div>

</div>
