.card {
  /* Add shadows to create the "card" effect */
  border: 1px solid rgba(150,150,150,0.3);
  border-bottom-color: rgba(125,125,125,0.3);
  margin-bottom: 16px;
  padding: 22px 22px 18px 22px;
  transition: 0.3s;
  width: 100%;
  margin-left: 20px;
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}

/* Heading */
h2 {
  font-size: 2.6em;
}

/* Description */
p {
  line-height: 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

/* Points of interest */
h3 {
  font-size: 1.3em;
  margin-left: -15px;
}

a {
  color: #1a0dab;
  text-decoration: none;
  margin-left: -11px;
}

/** Screen Responsiveness **/
@media screen and (max-width: 1143px) {
  .card {
    display: none;
  }
}
