img{
  border-radius: 8px;
  width: 40%;
  height: 40%;
  float: right;
  margin-right:10px;
  margin-top:-50px;
}
.card {
  /* Add shadows to create the "card" effect */
  border: 1px solid rgba(150,150,150,0.3);
  border-bottom-color: rgba(125,125,125,0.3);
  margin-bottom: 16px;
  padding: 22px 22px 18px 22px;
  transition: 0.3s;
  width: 454px;
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}

/* Heading */
h2 {
  font-size: 2.6em;
}

/* Description */
p {
  line-height: 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
a {
  text-decoration: none;
}
/** Screen Responsiveness **/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @media screen and (max-width: 1307px) {
    .card {
      width: 366px;
    }
  }
}

@media screen and (max-width: 1307px) {
  .card {
    width: 366px;
  }
}

@media screen and (max-width: 1219px) {
  .card {
    width: 278px;
  }
}


@media screen and (max-width: 1100px) {
  .card {
    width: 95vw;
    margin-left: 4vw;
  }
}
