@media screen and (max-width:990px) {
  .navbar-collapse.navbar-right {
    text-align: right;
  }
}

.navbar-nav > li > a {
  text-align: left;
}

.navbar-right {
  border-top:none;
}

.bold {
  font-weight: 700;
}

.btn-text {
  color: white;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.nav-terms {
  padding: 0px;
  clear: both;
  margin: -57px 0 0 0;
}

#label-inline {
  display: inline;
}

#language {
  display: inline;
}

.advsearch-navbar {
  position: relative;
  top:-5px;
}

.adv-submit {
  float: right;
  margin: 14px 0;
}

.container {
  padding-left: 3.5%;
  float: left;
  width: 100%;
  margin-bottom: 5%;
}

.form-control {
  border-radius:0px;
}

.label-section {
  margin-left: 80px;
}

.label-bold {
  font-weight: bold;
}

label {
  font-weight: bold;
  display: inline;
}

#fieldset-1 input[type=text], textarea {
  margin-left: 80px;
}

#fieldset-1 dt {
  width: 35%;
}

#fieldset-1 dd {
  width: 60%;
}

span {
  margin-left: 10px;
}

#country-code-span {
  margin-left: 7px;
}

.span-right {
  margin-left: 0px;
  margin-right: 10px;
}

.span-both {
  margin: 0px 10px;
}

.top-margin-div {
  margin-top: 15px;
}

#fieldset-2 .label-bold {
  font-weight: bold;
}

#checkbox-desc-1 {
  margin-left: 5px;
}

#checkbox-desc-2 {
  margin-left: 25px;
}

#directDocByURLID {
  margin-left: 25px;
}

dl {
  width: 75%;
  margin-left: 20px;
}

dt {
  text-align: left;
  float: left; margin-top: 20px;
  clear: left;
  display: block;
  position: relative;
}

dd {
  float: left; margin-top: 20px;
  display: block;
}

.adv-btn {
  border-color: white;
  height: 30px;
  min-width: 120px;
  padding: 0 12px;
  line-height: 100%;
  background-color: #3079ed;
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  box-shadow: none;
  cursor: pointer;
  border: 1px solid #3079ed;
  border-radius: 2px;
}

.nav-about {
  clear: both;
  margin: -57px 0 0 0;
}

.navbar-logo {
  height: 30px;
  padding-left: 20px;
  margin-top: -4%;
}

.btn-round-lg {
  border-radius: 22.5px;
}

.btn-round {
  border-radius: 11px;
}

.navbar-brand>img {
  margin:-5px 0 0 0;
}

.navbar-logo {
  height: 30px;
  padding-left: 20px;
}

.navbar-text {
  padding-right: 30px;
  font-size: 20px;
  position: relative;
  top:-3px;
}

.text-center {
  text-align: center;
}

legend {
    border-radius: 5px;
    text-align: left;
    color: red;
}

.link {
  margin-top:2px;
  font-weight: 700;
  line-height: 1.8;
  color:#1565C0;
}

.link:hover {
  text-decoration: underline;
}

#left {
  width:22.6993866%;
}

#right {
  width:67.7%;
}

p {
  line-height: 20px;
  text-align: justify;
}

h2 {
  line-height: 1.8;
}

fieldset {
  color: #18294A;
  border: 0px solid #eeeeee;
  border-radius: 5px;
}

#language {
  width: 20%;
}

.dd-class {
  width: 100%;
}

div {
  margin-top: 0.5%;
  font-family: Arial,sans-serif;
}

@media only screen and (max-width: 500px) {
  #left{
    width: 100%;
  }

  #right{
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-logo{
    margin-left: -77px;
  }
}

a {
  padding-right: 0px;
}