@media screen and (max-width:990px) {
  .navbar-collapse.navbar-right {
    text-align: right;
  }
}
.navbar-nav > li > a{
  text-align: left;
}

.navbar-right{
  border-top:none;
}

.bold{
  font-weight: 700;
}
.btn-text {
  color: white;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}


.nav-terms {
  padding: 0px;
  clear: both;
  margin: -57px 0 0 0
}
.advsearch-navbar{
  position: relative;
  top:-5px;
}
.adv-submit{
  float: right;
  margin: 14px 0;

}
.container{
  padding-left: 3.5%;
  float: left;
  width: 70%;
}
.form-control {
  width:135%;
  border-radius:0px
}

.adv-btn{
  border-color: white;
  height: 30px;
  min-width: 120px;
  padding: 0 12px;
  line-height: 100%;
  background-color: #3079ed;
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  box-shadow: none;
  cursor: default;
  border: 1px solid #3079ed;
  border-radius: 2px;
}


.nav-about {
  clear: both;
  margin: -57px 0 0 0
}

.navbar-logo {
  height: 30px;
  padding-left: 20px;
  margin-top: -4%;
}
.btn-round-lg{
  border-radius: 22.5px;
}
.btn-round{
  border-radius: 11px;
}

.navbar-brand>img {
  margin:-5px 0 0 0;
}
.navbar-logo {
  height: 30px;
  padding-left: 20px;
}

.navbar-text {
  padding-right: 30px;
  font-size: 20px;
  position: relative;
  top:-3px;
}

.text-center{
  text-align: center;
}

.link{
  margin-top:2px;
  font-weight: 700;
  line-height: 1.8;
  color:#1565C0;

}
.link:hover{
  text-decoration: underline;
}

#left{
  width:22.6993866%;
}

#right{
  width:67.7%;
}
p{
  line-height: 20px;
  text-align: justify;
}
h2{
  line-height: 1.8;
}
div{
  margin-top: 0.5%;
  font-family: Arial,SansSerif;
}
@media only screen and (max-width: 500px) {
  #left{
    width: 100%;
  }

  #right{
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-logo{
    margin-left: -77px;
  }
}
