.sug {
  font-size: medium;
  font-weight: 500;
  color: navy;
  padding-top: 13px;
}

.mean {
  font-size: 18px;
  color: #dd4b39;
  font-weight: normal;
  margin-bottom: -2px;
}

@media screen and (max-width: 1080px) and (min-width: 768px) {
  .mean{
      margin-left: -3%;
  }
}
@media screen and (max-width: 1160px) and (min-width: 1081px) {
  .mean{
      margin-left: -2%;
  }
}

.suggest-auto-correct {
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: #1a0dab;
  font-family: Arial, sans-serif;
}

.suggest-auto-correct:hover {
  text-decoration: underline;
  cursor: pointer;
}
