.sug{
  font-size: medium;
  font-weight: 500;
  color: navy;
  padding-top: 3%;
  padding-left: 5.9%;
}

.mean {
  font-size: 18px;
  color: #dd4b39;
  font-weight: normal;
  padding-left: 2px;
  margin-bottom: -2px;
}

.suggest-auto-correct {
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: #1a0dab;
  font-family: Arial, sans-serif;
}

.suggest-auto-correct:hover {
  text-decoration: underline;
  cursor: pointer;
}
