<div id="about">
  <nav class="navbar navbar-default nav-about">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dropmenu">
          <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand about-navbar" routerLink="/" title="Susper Search Engine">
          <img alt="brand" class="navbar-logo" src="../../assets/images/susper.svg" />
        </a>
      </div>

      <div class="collapse navbar-collapse" id="dropmenu">
        <ul class="nav navbar-nav navbar-collapse navbar-right">
          <li><a routerLink="/privacy">Privacy</a></li>
          <li><a routerLink="/terms">Terms</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" style="padding-top: 56px">
    <div class="aboutFOSS">
      <h1 style="text-align: center">About Us</h1>
      <h2 style="text-align: center">
        We bring amazing people together to create, develop, design <br />and make things with Open
        Technologies - hardware and software - <br />and share our work for the benefit of all.
      </h2>
    </div>
    <div class="aboutSUS row" style="padding-top: 80px">
      <div class="col-md-3">
        <h2>About Susper</h2>
        Susper is a decentral Search Engine that uses the peer to peer system 'YaCy' and 'Apache
        Solr' to crawl and index search results.
      </div>
      <div class="col-md-3">
        <h2>About YaCy</h2>
        YaCy is a free search engine that anyone can use to build a search portal for their intranet
        or to help search the public internet. Read more about YaCy here -
        <a [href]="yacySite">YaCy Decentralized Web Search</a>
      </div>
      <div class="col-md-3">
        <h2>Communication</h2>
        Facing issues while setting up project on local environment? Our chat channel is on gitter
        here: <a href="https://gitter.im/fossasia/susper.com">fossasia/susper.com</a>. We'll be
        happy to help you out!
      </div>
      <div class="col-md-3">
        <h2>Contribute to our project</h2>
        Get involved as an Open Source developer, designer or tester and start your adventure today!
        Solve an issue or feature request on our repositories with
        <a href="https://github.com/fossasia/susper.com">FOSSASIA</a>. Build up your developer
        profile and become part of a fantastic community.
      </div>
    </div>
    <div class="ourTeam row">
      <h2 style="text-align:center">Our Team</h2>
      <div style="padding-top:40px">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
          <div class="card">
            <img
              class="card-img-top"
              style="width: 200px; height : 200px"
              src="https://avatars2.githubusercontent.com/u/1583873?s=460&v=4"
            />
            <div class="card-body">
              <h4 style="text-align:center; font-size:18px" class="card-text">Mario Behling</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
          <div class="card">
            <img
              class="card-img-top"
              style="width: 200px; height : 200px"
              src="https://avatars3.githubusercontent.com/u/20185076?s=460&v=4"
            />
            <div class="card-body">
              <h4 style="text-align:center; font-size:18px" class="card-text">Soumya Vadlamannati</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
          <div class="card">
            <img
              class="card-img-top"
              style="width: 200px; height : 200px"
              src="https://avatars1.githubusercontent.com/u/15216503?s=460&v=4"
            />
            <div class="card-body">
              <h4 style="text-align:center; font-size:18px" class="card-text">Nikhil Rayaprolu</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
          <div class="card">
            <img
              class="card-img-top"
              style="width: 200px; height : 200px"
              src="https://avatars2.githubusercontent.com/u/22245418?s=460&v=4"
            />
            <div class="card-body">
              <h4 style="text-align:center; font-size:18px" class="card-text">Harshit Prasad</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
          <div class="card">
            <img
              class="card-img-top"
              style="width: 200px; height : 200px"
              src="https://avatars1.githubusercontent.com/u/25537606?s=460&v=4"
            />
            <div class="card-body">
              <h4 style="text-align:center; font-size:18px" class="card-text">Praveen Ojha</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
          <div class="card">
            <img
              class="card-img-top"
              style="width: 200px; height : 200px"
              src="https://avatars1.githubusercontent.com/u/238730?s=460&v=4"
            />
            <div class="card-body">
              <h4 style="text-align:center; font-size:18px" class="card-text">Michael Christen</h4>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
          <div class="card">
            <img
              class="card-img-top"
              style="width: 200px; height : 200px"
              src="https://avatars0.githubusercontent.com/u/7692626?s=460&v=4"
            />
            <div class="card-body">
              <h4 style="text-align:center; font-size:18px" class="card-text">Isuru Abeyvardana</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
          <div class="card">
            <img
              class="card-img-top"
              style="width: 200px; height : 200px"
              src="https://avatars0.githubusercontent.com/u/19776278?s=460&v=4"
            />
            <div class="card-body">
              <h4 style="text-align:center; font-size:18px" class="card-text">Prabhu Pant</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
          <div class="card">
            <img
              class="card-img-top"
              style="width: 200px; height : 200px"
              src="https://avatars2.githubusercontent.com/u/28914919?s=460&v=4"
            />
            <div class="card-body">
              <h4 style="text-align:center; font-size:18px" class="card-text">Sathira Umesh</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
          <div class="card">
            <img
              class="card-img-top"
              style="width: 200px; height : 200px"
              src="https://avatars3.githubusercontent.com/u/33062425?s=460&v=4"
            />
            <div class="card-body">
              <h4 style="text-align:center; font-size:18px" class="card-text">Raj Vaibhav Dubey</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
          <div class="card">
            <img
              class="card-img-top"
              style="width: 200px; height : 200px"
              src="https://avatars1.githubusercontent.com/u/33882273?s=460&v=4"
            />
            <div class="card-body">
              <h4 style="text-align:center; font-size:18px" class="card-text">Valentin Bercaru</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center">
          <div class="card">
            <img
              class="card-img-top"
              style="width: 200px; height : 200px"
              src="https://avatars0.githubusercontent.com/u/22936570?s=460&v=4"
            />
            <div class="card-body">
              <h4 style="text-align:center; font-size:18px" class="card-text">Bhavesh Anand</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="contact-container">
      <h1>Contact Us</h1>
      <p>
        If you would like to get in touch with us, you find our details on the
        <a href="https://susper.com/contact">contact page</a>.
      </p>
    </div>
  </div>
  <footer><app-footer-navbar></app-footer-navbar></footer>
</div>
