.banner {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top: -10%;
    overflow: hidden;
}

.image-banner {
    position: relative;
    height: 450px;
    overflow: hidden;
}

.navbar-logo {
    height: 30px;
    padding-left: 20px;
}

.navbar-text {
    padding-right: 30px;
    font-size: 20px;
}

.text-center {
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

.bold {
    font-weight: 700;
}

@media screen and (max-width:990px){
    .image-banner{
        height: 190px;
    }

    .banner{
        top:0;
    }
}

.navbar {
    margin-bottom: 0px !important;
}