.banner {

    
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top: -10%;
    overflow: hidden;
}


#about{
    min-height:100vh;
    position: relative;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%
}


.navbar-nav > li > a {
  text-align: left;
}

.page-link {
  padding-right: 0%;
  color: #1a0dab;
}


.navbar-right {
  border-top:none;
}

.image-banner {
    position: relative;
   
    overflow: hidden;
    padding:0px;
}

.navbar-logo {
    height: 30px;
    margin-top: 8px;
    padding-left: 20px;
}

.navbar-text {
    padding-right: 30px;
    font-size: 20px;
}

.text-center {
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

.bold {
    font-weight: 700;
}

.about-navbar {
    position: relative;
    top: -5px;
}

.navbar {
    margin-bottom: 0px !important;
}

.nav-about {
    clear: both;
    margin: -57px 0 0 0
}

.sub-details {
    font-family: Roboto, sans-serif;
    line-height: 1.4;
    font-size: 14px;
}

.sub-details h5 {
    font-family: Roboto, sans-serif;
    line-height: 1.4;
    font-size: 14px;
    margin: 20px 0 20px 0;
}

.sub-details p {
    font-family: Roboto, sans-serif;
    line-height: 1.4;
    font-size: 14px;
    text-align: justify;
}

.about-sub-details {
    padding: 20px 0 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.about-sub-details .row h2 {
    font-family: "Quicksand", sans-serif;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 24px;
}

.contact-sub-details {
    margin-bottom: 40px;
}

.contact-sub-details .row h2 {
    font-family: "Quicksand", sans-serif;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 24px;
}

.navbar-fixed-bottom, .navbar-fixed-top{
    position: relative !important;
}

.contents {
    text-align: right;
}

a {
    text-decoration: none;
    padding-right: 30px;
    color: rgb(119,119,119);
}

.navbar-collapse.navbar-right {
    padding-top: 15px;
}

a:hover {
    color: rgb(51,51,51);
    text-decoration: none;
}

.navbar-brand {
    padding-left: 100px;
}

@media screen and (max-width:990px) {
    

    

    .navbar-collapse.navbar-right {
        text-align: right;
    }
}








@media only screen and (max-width: 768px) {
    .navbar-logo{
        margin-left: -77px;
        margin-top: 0px;
    }
}
