<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <!-- Start ignoring HTMLLintBear -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- Stop ignoring HTMLLintBear -->
      <h4 class="modal-title" id="my-modal-label">Customization</h4>
      <button type="button" (click)="darkTheme()" class="theme-link">Dark Theme</button>
      <button type="button" (click)="defaultTheme()" class="theme-link">Default Theme</button>
    </div>
  </div>
</div>
