<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        ><span aria-hidden="true">&times;</span
      ></button>
      <h4 class="modal-title" id="my-modal-label">Customization</h4>
      <button
        type="button"
        (click)="setTheme('defaultTheme')"
        class="btn btn-round btn-default theme-link"
        id="default"
      >Default</button>
      <button
        type="button"
        (click)="setTheme('darkTheme')"
        class="btn btn-round btn-default theme-link"
        id="dark"
      >Dark</button>
      <button
        type="button" 
        (click)="setTheme('basicTheme')"
        class="btn btn-round btn-default theme-link"
        id="basic"
      >Basic</button>
      <button 
        type="button"
        (click)="setTheme('contrastTheme')"
        class="btn btn-round btn-default theme-link"
        id="contrast"
      >Contrast</button>
      <button
        type="button"
        (click)="setTheme('terminalTheme')"
        class="btn btn-round btn-default theme-link"
        id="terminal"
      >Terminal</button>
      <button
        type="button"
        (click)="setTheme('nightTheme')"
        class="btn btn-round btn-default theme-link"
        id="night"
      >Night</button>
    </div>
  </div>
</div>
