<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/">
        <img class="navbar-brand" src="assets/images/susper.svg">
      </a>
    </div>

    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-left">
        <div class="input-group" id="nav-group">
          <input type="text" name="query" class="form-control" id="nav-input" placeholder="Search" (keyup.enter)="submit()" [(ngModel)]="searchdata.query">
          <div class="input-group-btn">
            <button class="btn btn-default" id="nav-button" type="submit" (click)="submit()">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
