.menu-image{
  width: 60px;
  height: 50px;
}
.menu-drop-image{
  width: 25px;
  height: auto;
}
.header{
  display:inline-table;
  width: 60px;
  padding: 4%;
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
}
.header-text{
  font-size: small;
  width: inherit;
  text-align: center;
}
.dropdown-menu{
  width: 400px;
}

<<<<<<< HEAD
=======
#navcontainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (min-width:1920px) {
  .navbar-brand{
      width: 170px;
      height: auto;
  }
}

@media screen and (min-width:768px) {
  #navcontainer ul li {
    display: inline;
  }
  #navcontainer, #side-menu {
    margin-top: 8px;
  }
}

>>>>>>> 5ab8d8d... improvements in menu
#tutorial-icon {
    padding-left: 15px;
}

#github-icon {
    padding-left: 5px;
}

#bug-icon {
    padding-left: 10px;
}
