.navbar-brand{
    width: 140px;
    height: auto;
    padding: 15px 15px 0px 15px;
    margin-right: 26px;
}

.navbar-default{
  border-bottom: none;
}

.top-nav{
  margin-bottom: 0px;
  margin-top: -5%;
  padding-top: 0.4%;
}

#navcontainer {
  height: 65px;
}

#navcontainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (min-width:1920px) {
  .navbar-brand{
      width: 160px;
      height: auto;
  }
  .top-nav {
    margin-top: -5%;
  }
}

@media screen and (min-width:768px) {
  #navcontainer ul li {
    display: inline;
  }
  .navbar-right {
    padding-right: 20px;
    font-size: 14px;
    left: 92%;
  }
  #navcontainer, #side-menu {
    margin-top: 8px;
  }
}

@media screen and (max-width:1079px) {
  .navbar-brand{
      margin-top: 2px;
      width: 120px;
  }
  .top-nav{
    margin-top: -6%;
  }
}

@media screen and (max-width:850px) {
  .top-nav{
    margin-top: -7%;
  }
}

@media screen and (max-width:768px) {
  .top-nav{
    margin-top: -8%;
  }
  .navbar-brand{
      margin-left: 38%;
      height: auto;
  }
  #navbar-search {
    margin-left: 21%;
    margin-right: 8%;
  }
  .align-navsearch-btn {
    margin-right: 1% !important;
  }
}

@media screen and (min-width:768px) {
  #navcontainer ul li {
    display: inline;
  }
  .navbar-right {
    padding-right: 20px;
    font-size: 14px;
    left: 95%;
    position: absolute;
  }
  #navcontainer, #side-menu {
    margin-top: 8px;
  }
}
@media screen and (max-width:639px) {
  .align-navsearch-btn {
    margin-right: 2% !important;
  }
  .top-nav{
    margin-top: -9%;
  }
}

@media screen and (max-width:479px) {
  .navbar-brand{
      margin-left: 33%;
  }
  #navbar-search {
    margin-left: 20%;
    margin-right: 9%;
  }
  .align-navsearch-btn {
    margin-right: 3% !important;
  }
}

@media screen and (max-width:359px) {
  .navbar-brand{
    margin-left: 30%;
  }
}
