@media screen and (max-width:990px) {
    
    .navbar-collapse.navbar-right {
        text-align: right;
    }

}

.navbar-nav > li > a {
  text-align: left;
}

.navbar-right {
  border-top:none;
}

.banner {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    top: -10%;
    overflow: hidden;
}

.image-banner {
    position: relative;
    overflow: hidden;
    padding:0px;
}



.navbar-logo {
    height: 30px;
    padding-left: 20px;
}

.navbar-text {
    padding-right: 30px;
    font-size: 20px;
    margin-top: 6px;
}

.text-center {
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

.bold {
    font-weight: 700;
}

#contact{
    min-height:100vh;
    position: relative;

}

footer{
    bottom: 0px;
    position: absolute;
    width:100%
}

@media screen and (max-width:990px) {
    
    .image-banner {
        height: 190px;
    }

    .banner {
        top: 0;
    }


}


.about-navbar {
    position: relative;
    top: -5px;
}

.navbar {
    margin-bottom: 0px !important;
}

.nav-about {
    clear: both;
    margin: -57px 0 0 0;
}

.sub-details {
    font-family: Roboto, sans-serif;
    line-height: 1.4;
    font-size: 14px;
}

.sub-details h5 {
    font-family: Roboto, sans-serif;
    line-height: 1.4;
    font-size: 14px;
    margin: 20px 0 20px 0;
}

.sub-details p {
    font-family: Roboto, sans-serif;
    line-height: 1.4;
    font-size: 14px;
    text-align: justify;
}

.about-sub-details {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #eee;
}

.about-sub-details .row h2 {
    font-family: "Quicksand", sans-serif;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 24px;
}

.contact-sub-details {
    margin-bottom: 40px;
    line-height: 12px;
}

.contact-sub-details p{
    line-height: 20px;
}

.contact-sub-details .row h2 {
    font-family: "Quicksand", sans-serif;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 24px;
}

.navbar-fixed-bottom, .navbar-fixed-top{
    position: relative !important;
}

.contact-title{
    border-bottom: 1px solid #eee;
}

.form-horizontal{
    margin: 20px;
}

.sub-btn{
    width: 100%;
}

.close-btn{
    padding: 10px;
    position: relative;
    top:5px;
}

a {
    text-decoration: none;
    color: rgb(119,119,119);
}

.navbar-collapse.navbar-right {
    padding-top: 15px;
}

a:hover {
    color: rgb(51,51,51);
    text-decoration: none;
}

a {
  color: #1a0dab;
  text-decoration: none;
}

.navbar-brand {
    padding-left: 100px;
}

@media only screen and (max-width: 768px) {
    .navbar-logo {
        margin-left: -77px;
        margin-top: -5px;
    }
}
