<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <!-- Start ignoring HTMLLintBear -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- Stop ignoring HTMLLintBear -->
      <h3 class="modal-title" id="my-modal-label">Customization</h3>
    </div>
    <div class="modal-body">
      <button type="button" (click)="darkTheme()" data-theme="darkly" class="theme-link">Dark Theme</button>
      <button type="button" (click)="defaultTheme()" data-theme="default" class="theme-link">Default Theme</button>
    </div>
  </div>
</div>
 