/* base.css - Layout and general style */
/*
    $LastChangedDate$
    $LastChangedRevision$
    $LastChangedBy$
*/

/*
# use section names to jump

############ Sections: ########################
## "global elements"                         ##
# all html elements without ".class" or "#id"
###############################################
## "global classes"                          ##
# i.e. ".strong"; ".left"; ".error";
###############################################
## "privat classes"                          ##
# all HTML-elements with a specific class
# i.e. "div.content"; "span.left";
# and
# "div.content span a."; "form.search fieldset legend";
# sorted by the last html-element
###############################################
## "site specific"                           ##
# all site specific elements
# i.e. "body#search form"; "body#stats table td.strong";
###############################################
## "other"                                   ##
# all "other" elements
# i.e. "#left"; "#myID.div";
*/

/* --------------- global elements -------------------------- */

* {
  font-family:/*Helvetica, Arial, */sans-serif;
}

/* the following dl style is needed to patch a bug in Safari
   which occurs when definition lists appears inside of fieldsets */
dl {
  display: inline-block;
  width: 96%;
}

body {
  font-size: 12px;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-style: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
  clear:left; /* The heading after the submenu has to be left again */
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
  margin-bottom: 4px;
}

a:link {
  color: #18294A;
  text-decoration: underline;
}

a:visited {
  color: #609 !important;
  text-decoration: underline;
}

a:hover {
  color: #609;
  text-decoration: underline;
}

/* mark external links */
a[href^="http://"], a[href^="https://"]  {
  padding-right: 14px;
}

/* exception for links in search results and image links */
a[target="_self"], a[class="forceNoExternalIcon"], a[class="navbar-brand"], a[class="yacylogo"] {
  background: transparent;
  padding-right: 0px;
}
/* (fix for IE 10) prevent borders on img within links */
a img {
  border: none;
}



/* --------------- global classes --------------------- */





/* ---------------- private classes ---------------------*/

/*----------
<div>
*/

#results {
clear: both;
}

div.content {
  position: absolute;
  top: 3em;
  left: 13em;
  right: 10px;
  margin: 0;
}

/*----------
<p>
*/

p {
  line-height: 14px;
}


/*----------
<h1>, <h2>, <h3>, <h4>, <h5>
*/

div.head h1 {
  padding: 6px;
  background: url(/env/grafics/yacy.png) 10px center no-repeat;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  margin: 0;
}

h2.yacy { /* The heading in index.html */
  margin: 10px auto;
  text-align: center;
  padding-top: 20px;
  width: 256px;
  min-width: 256px; /*min-width does not exist in IE 5.5, 6 and Safari */
}

#set-susper-default{
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  right: 10px;
  bottom: 60px;
  background-clip: padding-box;
  display: block;
}

#set-susper-default h3{
  margin: 0;
  padding: 8px;
  text-align: center;
  background-color: #26547c;
  color: white;
}

#set-susper-default ol{
  font-size: 15px;
  background-color: white;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#set-susper-default button{
  background-color: #26547c;
  border: none;
  color: white;
  font-size: 15px;
  padding: 3px;
}

#set-susper-default #cancel-installation{
  width: 100%;
}

#set-susper-default #install-susper{
  padding: 5px;
}
