<footer>
  <div class="footer-bar">

    <div class="left-side">
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a href="//blog.fossasia.org/tag/susper/" id="blog">Blogs</a>
      <a href="//{{fossasia_repo}}/{{susperUrl}}" id="code">Code</a>
    </div>

    <div class="right-side">
      <span class="dropup">
        <a class="dropdown-toggle" data-toggle="dropdown">Settings</a>
        <ul class="dropdown-menu" id="fsett">
          <li><a routerLink="/preferences">Search settings</a></li>
          <li><a routerLink="/advancedsearch">Advanced Search</a></li>
          <li><a routerLink="/crawlstartexpert" routerLinkActive="active">Crawl Job</a></li>
          <li><a routerLink="/help">Search Help</a></li>
        </ul>
      </span>
      <a routerLink="/privacy" routerLinkActive="active">Privacy</a>
      <a routerLink="/terms" routerLinkActive="active">Terms</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>

  </div>
</footer>
