<nav class="navbar navbar-default footer navbar-fixed-bottom" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a href="//blog.fossasia.org">Blogs</a></li>
      <li><a href="//github.com/fossasia/susper.com">Code</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/terms">Terms</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
