<footer>
  <div class="footer-bar">

    <div class="left-side">
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a href="//blog.fossasia.org/tag/susper/" id="blog">Blogs</a>
      <a href="//{{fossasia_repo}}/{{susperUrl}}" id="code">Code</a>
      <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
      <p id='latitudeAndLongitude'></p>
      <p id='address'></p>
      <script type="text/javascript">
        var latitudeAndLongitude=document.getElementById("latitudeAndLongitude"),
        location={
           latitude:'',
           longitude:''
        };

        if (navigator.geolocation){
           navigator.geolocation.getCurrentPosition(showPosition);
        }
        else{
           latitudeAndLongitude.innerHTML="Geolocation is not supported by this browser.";
        }

        function showPosition(position){ 
          location.latitude=position.coords.latitude;
          location.longitude=position.coords.longitude;
          latitudeAndLongitude.innerHTML="Latitude: " + position.coords.latitude + 
          "<br>Longitude: " + position.coords.longitude; 
          var geocoder = new google.maps.Geocoder();
          var latLng = new google.maps.LatLng(location.latitude, location.longitude);

          if (geocoder) {
           geocoder.geocode({ 'latLng': latLng}, function (results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
           console.log(results[0].formatted_address); 
           $('#address').html('Address:'+results[0].formatted_address);
         }
         else {
          $('#address').html('Geocoding failed: '+status);
          console.log("Geocoding failed: " + status);
       }
    }); //geocoder.geocode()
  }      
 } //showPosition
      </script>       
</div>

    <div class="right-side">
      <span class="dropup">
        <a class="dropdown-toggle" data-toggle="dropdown">Settings</a>
        <ul class="dropdown-menu" id="fsett">
          <li><a routerLink="/preferences">Search settings</a></li>
          <li><a routerLink="/advancedsearch">Advanced Search</a></li>
          <li><a routerLink="/crawlstartexpert" routerLinkActive="active">Crawl Job</a></li>
          <li><a routerLink="/help">Search Help</a></li>
        </ul>
      </span>
      <a routerLink="/privacy" routerLinkActive="active">Privacy</a>
      <a routerLink="/terms" routerLinkActive="active">Terms</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>

  </div>
</footer>
