.card{
  padding-left: 50px;
  padding-top: 10px;
  max-width: 450px;
}

.container {
  margin-right: 0px;
  margin-left: -7px;
  padding-left: 0px;
  padding-right: 0px;
}

.heading {
  padding-bottom: 8px;
  color: #222;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.related{
  margin-top: 10px;
  display: inline-block;
  width: 180px;
  float: left;
}

.rellink{
  color: #1a0dab;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.rellink:hover{
  text-decoration: underline;
}
