<!-- Start ignoring BootLintBear -->
<form class="navbar-form navbar-left">
<!-- Stop ignoring BootLintBear -->
  <div class="input-group" id="nav-group">
      <div class="input-text">
      <input #input type="text" name="query" class="form-control" id="nav-input" (keyup)="onquery($event)"
           [(ngModel)]="searchdata.query" autocomplete="off">
      </div>
    <div class="input-group-btn">
      <button class="btn btn-default" id="nav-button" type="submit" (click)="submit()">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
  <app-auto-complete (hidecomponent)="hidesuggestions($event)" id="auto-box" [hidden]="!ShowAuto()"></app-auto-complete>
</form>
<script>
  $(document).ready(function(){
    var isFirefox = typeof InstallTrigger !== 'undefined';
    if(isFirefox === false){
      $(".input-group-btn").addClass("align-search-btn");
    }
  }
</script>
