<nav class="navbar navbar-default nav-about">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type = "button" class = "navbar-toggle"
              data-toggle = "collapse" data-target = "#dropmenu">
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
      <a class="navbar-brand advsearch-navbar" routerLink="/">
        <img alt="brand" class="navbar-logo" src="../../assets/images/susper.svg">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="dropmenu">
      <ul class="nav navbar-nav navbar-collapse navbar-right">
        <li><a routerLink="/privacy">Privacy</a></li>
        <li><a routerLink="/terms">Terms</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="container">
  <h3 class="advanced-search-heading">Advanced Search</h3>
  <hr id="top-line">
    <h3 class="label-heading">Find pages with...</h3>
    <form>
      <div class="row">

        <div class="form-group">
          <div class="col-md-4"><label class="label-search" for="words">all these words:</label></div>
          <div class="col-md-6"><input type="text" class="form-control" id="words"></div>
        </div>

        <div class="form-group">
          <div class="col-md-4"><label class="label-search" for="exact">this exact word or phrase:</label></div>
          <div class="col-md-6"><input type="text" class="form-control" id="exact"></div>
        </div>

        <div class="form-group">
          <div class="col-md-4"><label class="label-search" for="any">any of these words:</label></div>
          <div class="col-md-6"><input type="text" class="form-control" id="any"></div>
        </div>

        <div class="form-group">
          <div class="col-md-4"><label class="label-search" for="none">none of these words:</label></div>
          <div class="col-md-6"><input type="text" class="form-control" id="none"></div>
        </div>

        <div class="form-group">
          <div class="col-md-4"><label class="label-search" for="number">numbers ranging from:</label></div>
          <div class="col-md-2"><input type="text" class="form-control" id="number"></div>

          <div class="col-md-2" style="text-align: center">
            <label for="to" class="to-word-alignment">to</label>
          </div>

          <div class="col-md-2"><input type="text" class="form-control" id="to"></div>
        </div>

      </div>
    </form>
  <hr>

  <h3  class="label-heading">Then narrow your results by...</h3>
    <form>
      <div class="row">

      <div class="form-group">
        <div class="col-md-4"><label class="label-search" for="language">language:</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="language" value="English" disabled></div>
      </div>

      <div class="form-group">
        <div class="col-md-4"><label class="label-search" for="region">region:</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="region"></div>
      </div>

      <div class="form-group">
        <div class="col-md-4"><label class="label-search" for="last update">last update:</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="last update"></div>
      </div>

      <div class="form-group">
        <div class="col-md-4"><label class="label-search" for="site">site or domain:</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="site"></div>
      </div>

      <div class="form-group">
        <div class="col-md-4"><label class="label-search" for="terms appearing">terms appearing:</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="terms appearing"></div>
      </div>

      <div class="form-group">
        <div class="col-md-4"><label class="label-search" for="safe search">safe search:</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="safe search"></div>
      </div>

      <div class="form-group">
        <div class="col-md-4"><label class="label-search" for="file type">file type:</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="file type"></div>
      </div>

      <div class="form-group">
        <div class="col-md-4"><label class="label-search" for="usage rights">usage rights:</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="usage rights"></div>
      </div>

    </div>
    </form>

  <div class="adv-submit">
    <button class="adv-btn btn"><span class="btn-text">Advanced Search</span></button>
  </div>
</div>

<app-footer-navbar></app-footer-navbar>
