<nav class="navbar navbar-default nav-about">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type = "button" class = "navbar-toggle"
              data-toggle = "collapse" data-target = "#dropmenu">
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>
      <a class="navbar-brand advsearch-navbar" href="//susper.com">
        <img alt="brand" class="navbar-logo" src="../../assets/images/susper.svg">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="dropmenu">
      <ul class="nav navbar-nav navbar-collapse navbar-right">
        <li><a routerLink="/terms">Terms</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="container">
  <h3 style="color: #dd4b39;font-family: Arial,SansSerif">Advanced Search</h3>
  <hr>
    <h4>Find pages with</h4>
    <form>
      <div class="row">
        <div class="form-group">
          <div class="col-md-4"><label for="words">all these words:</label></div>
          <div class="col-md-6"><input type="text" class="form-control" id="words"></div>
        </div>
        <div class="form-group">
          <div class="col-md-4"><label for="exact">this exact word or phrase</label></div>
          <div class="col-md-6"><input type="text" class="form-control" id="exact"></div>
        </div>
        <div class="form-group">
          <div class="col-md-4"><label for="any">any of these words</label></div>
          <div class="col-md-6"><input type="text" class="form-control" id="any"></div>
        </div>
        <div class="form-group">
          <div class="col-md-4"><label for="none">none of these words</label></div>
          <div class="col-md-6"><input type="text" class="form-control" id="none"></div>
        </div>
        <div class="form-group">
          <div class="col-md-4"><label for="number">numbers ranging from</label></div>
          <div class="col-md-2"><input type="text" class="form-control" id="number"></div>

          <div class="col-md-2" style="text-align: center"><label for="to">to</label></div>
          <div class="col-md-2"><input type="text" class="form-control" id="to"></div>
        </div>

      </div>
    </form>
  <hr>

    <h4>
      Then narrow your results by...
    </h4>
    <form>
      <div class="row">
      <div class="form-group">
        <div class="col-md-4"><label for="language">language</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="language"></div>
      </div>
      <div class="form-group">
        <div class="col-md-4"><label for="region">region</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="region"></div>
      </div>
      <div class="form-group">
        <div class="col-md-4"><label for="last update">last update</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="last update"></div>
      </div>
      <div class="form-group">
        <div class="col-md-4"><label for="site">site</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="site"></div>
      </div>
      <div class="form-group">
        <div class="col-md-4"><label for="terms appearing">terms appearing</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="terms appearing"></div>
      </div>
      <div class="form-group">
        <div class="col-md-4"><label for="safe search">safe search</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="safe search"></div>
      </div>
      <div class="form-group">
        <div class="col-md-4"><label for="file type">file type</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="file type"></div>
      </div>
      <div class="form-group">
        <div class="col-md-4"><label for="usage rights">usage rights</label></div>
        <div class="col-md-6"><input type="text" class="form-control" id="usage rights"></div>
      </div>
    </div>
    </form>
  <div>
    <button style="border-color: white;background-color: #4d90fe;border: 1px solid #3079ed"><span style="color: white">Advanced Search</span></button>
  </div>

</div>

  <!--footer navigation bar goes here-->
  <app-footer-navbar></app-footer-navbar>
