.starter-template{
  margin-top: 10%;
}

#search-bar{
  position: fixed;
  left: 50%;
  margin-left: -290px;
  margin-top: 30px;
}

.footer-fixed{
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#set-susper-default{
  display:none;
}

.dropdown-menu-box-homepage {
  margin-left: 58%;
  margin-top: -186px;
  max-width: 50px;
}

@media screen and (max-width: 1208px) {
  div.dropdown-menu-box-homepage {
    margin-left: 60%;
  }
}


@media screen and (max-width: 480px) {
  #set-susper-default h3{
    font-size: 14px;
  }
  #set-susper-default ol{
    font-size: 12px;
  }
  #install-susper{
    font-size: 12px;
  }
  #cancel-installation{
    font-size: 12px;
  }
  div#susper-logo-fix {
    margin-left: -40%;
  }
}

@media screen and (max-width: 281px) {
  #set-susper-default{
    bottom: 80px;
  }
  #set-susper-default h3{
    font-size: 14px;
  }
  #set-susper-default ol{
    font-size: 12px;
  }
  #install-susper{
    font-size: 12px;
  }
  #cancel-installation{
    font-size: 12px;
  }
}

@media screen and (max-height: 584px) {
  #set-susper-default{
    bottom: 75px;
  }
  #set-susper-default h3{
    font-size: 14px;
  }
  #set-susper-default ol{
    font-size: 12px;
  }
  #install-susper{
    font-size: 12px;
  }
  #cancel-installation{
    font-size: 12px;
  }
}

@media screen and (max-height: 530px) {
  #set-susper-default{
    bottom: 75px;
  }
  #set-susper-default h3{
    font-size: 12px;
  }
  #set-susper-default ol{
    font-size: 10px;
  }
  #install-susper{
    font-size: 10px;
  }
  #cancel-installation{
    font-size: 10px;
  }
}

@media screen and (max-width: 517px) {
  #search-bar {
    left: 37%;
  }
  .dropdown-menu-box-homepage {
    margin-top: -13%;
  }
}

@media screen and (max-width: 767px) {
  #search-bar {
    margin-left: -48%;
  }
  div.dropdown-menu-box-homepage {
    margin-top: -13%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 896px) {
  .dropdown-menu-box-homepage {
    margin-top: -13%;
  }
}

@media screen and (max-width: 978px) {
  #biglogo {
    padding-left: 28%;
  }
  div.dropdown-menu-box-homepage{
    margin-left: 19%;
  }
}

@media screen and (max-width: 1140px) {
  div.dropdown-menu-box-homepage {
    margin-left: 67%;
    margin-top: -160px;
  }
}

@media screen and (max-width: 1149px) {
  div.dropdown-menu-box-homepage {
    margin-top: -160px;
    margin-left: 10%;
  }
}

@media screen and (max-width: 1158px) {
  div.dropdown-menu-box-homepage {
    margin-top: -160px;
  }
}

@media screen and (max-width: 1216px) {
  div.dropdown-menu-box-homepage {
    margin-left: 62%;
  }
}

@media screen and (max-width: 991px) {
  div.dropdown-menu-box-homepage {
    margin-left: 16%;
    margin-top: -15%;
  }
}

.navbar-fixed-bottom{
  z-index: -1;
}

#biglogo {
  display: block;
  margin-left: 33%;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

.navbar-toggle {
  z-index:3;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width:100%;
}
