<div id="index-page">
  <div class="container-fluid">
    <div class="starter-template">
      <div id="search-bar">
        <div class="row">
          <div id="susper-logo-fix">
            <a href="{{fossasia_repo}}/susper.com"><img src="assets/images/susper.svg" alt="Susper" id="biglogo"></a>
          </div>
        </div>
        <h2 class="yacy" id="greeting"></h2>
        <div id="bar">
          <app-search-bar></app-search-bar>
        </div>
      </div>
    </div>
    <div id="set-susper-default">
      <h3>Set Susper as your default search engine on Mozilla!</h3>
      <ol>
        <!-- Start ignoring BootLintBear -->
        <li><button id="install-susper">Install susper</button></li>
        <li>Mark the checkbox to set Susper as your default search engine</li>
        <li>Start searching!</li>
      </ol>
      <button id="cancel-installation">Cancel</button>
    </div>
    <!--starter-template ends here-->
  </div>
  <!--container-fluid ends here-->
  <div class="footer-fixed">
    <app-footer-navbar></app-footer-navbar>
  </div>
  <div class="dropdown-menu-box-homepage">
    <div id="dropdown-icon">
      <app-dropdown></app-dropdown>
    </div>
  </div>
</div>
