.starter-template{
  margin-top: 10%;
}

#search-bar{
  position: fixed;
  left: 50%;
  margin-left: -290px;
  margin-top: 30px;
}

.footer-fixed{
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#set-susper-default{
  display:none;
}

.dropdown-menu-box-homepage {
  margin-top: -28vh;
  width: 100vw;
}

@media screen and (max-width: 480px) {
  #set-susper-default h3{
    font-size: 14px;
  }
  #set-susper-default ol{
    font-size: 12px;
  }
  #install-susper{
    font-size: 12px;
  }
  #cancel-installation{
    font-size: 12px;
  }
  div#susper-logo-fix {
    margin-left: -40%;
  }
}

@media screen and (max-width: 281px) {
  #set-susper-default{
    bottom: 80px;
  }
  #set-susper-default h3{
    font-size: 14px;
  }
  #set-susper-default ol{
    font-size: 12px;
  }
  #install-susper{
    font-size: 12px;
  }
  #cancel-installation{
    font-size: 12px;
  }
}

@media screen and (max-height: 584px) {
  #set-susper-default{
    bottom: 75px;
  }
  #set-susper-default h3{
    font-size: 14px;
  }
  #set-susper-default ol{
    font-size: 12px;
  }
  #install-susper{
    font-size: 12px;
  }
  #cancel-installation{
    font-size: 12px;
  }
}

@media screen and (max-height: 530px) {
  #set-susper-default{
    bottom: 75px;
  }
  #set-susper-default h3{
    font-size: 12px;
  }
  #set-susper-default ol{
    font-size: 10px;
  }
  #install-susper{
    font-size: 10px;
  }
  #cancel-installation{
    font-size: 10px;
  }
}

#dropdown-icon{
  float: left;
  margin-left: 99vw;
}
.navbar-fixed-bottom{
  z-index: -1;
}

#biglogo {
  display: block;
  margin-left: 35%;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

.navbar-toggle {
  z-index:3;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width:100%;
}


@media screen and (max-width: 1107px) {
  .dropdown-menu-box-homepage {
    margin-top: -15%;
  }
}

@media screen and (max-width: 768px) {
  #search-bar {
    margin-left: -40%;
  }
  .dropdown-menu-box-homepage {
    margin-top: -17%;
  }
  img#biglogo{
    margin-left: 85%;
  }
  #dropdown-icon {
    margin-left: 93vw;
  }
}

@media screen and (max-width: 635px) {
  .dropdown-menu-box-homepage {
    margin-top: -18%;
  }
}

@media screen and (max-width: 425px) {
  img#biglogo {
    margin-left: 51%;
  }
  #search-bar {
    margin-left: -47%;
  }
}
