.starter-template{
  margin-top: 10%;
}

#search-bar{
  position: absolute;
}

#set-susper-default{
  display:none;
}

@media screen and (max-width: 480px) {
  #set-susper-default h3{
    font-size: 14px;
  }
  #set-susper-default ol{
    font-size: 12px;
  }
  #install-susper{
    font-size: 12px;
  }
  #cancel-installation{
    font-size: 12px;
  }
}
