<div class="side-menu">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown-menu-box">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle" data-proofer-ignore>
        <i class="glyphicon glyphicon-th" style="font-size: 1.5em"></i>
      </a>
      <div id="small-drop" class="dropdown-menu">
        <!--First row starts from here-->
        <div class="menu-row">
          <a class="menu-item" href="//blog.fossasia.org" target="_blank">
            <div class="img"><img src="../../assets/images/blog.png"></div>
            <p>Blogs</p>
          </a>

          <a class="menu-item" href="//github.com/fossasia/susper.com" target="_blank">
            <div class="img"><img src="../../assets/images/code.png"></div>
            <p>Code</p>
          </a>

          <a class="menu-item" href="//github.com/fossasia/susper.com" target="_blank">
            <div class="img"><img src="../../assets/images/github.png"></div>
            <p>Github</p>
          </a>

        </div>
        <!--First row ends up here-->
        <!--Second row starts from here-->
        <div class="menu-row">

          <a class="menu-item" href="//github.com/fossasia/susper.com/issues" target="_blank">
            <div class="img"><img src="../../assets/images/bug.png"></div>
            <p>Bug<br>Report</p>
          </a>

          <a class="menu-item" routerLink="/contact" routerLinkActive="active">
            <div class="img"><img src="../../assets/images/contact.png"></div>
            <p>Contact</p>
          </a>

          <a class="menu-item" routerLink="/advancedsearch" routerLinkActive="active">
            <div class="img"><img src="../../assets/images/search.png"></div>
            <p>Advanced<br>Search</p>
          </a>

        </div>
        <!--Second row ends up here-->
        <hr size="20">
        <!--Third row starts from here-->
        <div class="menu-row">

          <a class="menu-item" href="//fossasia.org" target="_blank">
            <div class="img"><img src="../../assets/images/fossasia.png"></div>
            <p>FOSSASIA</p>
          </a>

          <a class="menu-item" href="//loklak.org" target="_blank">
            <div class="img"><img src="../../assets/images/loklak.png"></div>
            <p>loklak</p>
          </a>

          <a class="menu-item" href="//chat.susi.ai" target="_blank">
            <div class="img"><img src="../../assets/images/susi_60x12.png"></div>
            <p>SUSI</p>
          </a>

        </div>
        <!--Third row ends up here-->
        <!--Fourth row starts from here-->
        <div class="menu-row">
          <a class="menu-item" href="//eventyay.com" target="_blank">
            <div class="img"><img src="../../assets/images/eventyay.png"></div>
            <p>Eventyay</p>
          </a>
          <a class="menu-item" href="//pslab.fossasia.org" target="_blank">
            <div class="img"><img src="../../assets/images/Pslab.png"></div>
            <p>PSlab</p>
          </a>
       </div>
        

        <hr size="20">

        <div class="menu-row" id="labs">
          <a href="//labs.fossasia.org" target="_blank">More on labs.fossasia.org</a>
        </div>

      </div>
    </li>
  </ul>
</div>
