<div class="navbar-collapse collapse" style="display:none" id="side-menu">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown-menu-box">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle" data-proofer-ignore>
        <i class="glyphicon glyphicon-th" style="font-size: 1.5em"></i>
      </a>
      <div class="dropdown-menu">
        <!--First row starts from here-->
        <div class="row">
          <div class="col-sm-4">
            <div class="block">
              <a href="//blog.fossasia.org" target="_blank">
                <img src="../../assets/images/blog.png">
                <p> Blogs</p>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="block">
              <a href="//github.com/fossasia/susper.com" target="_blank">
                <img src="../../assets/images/code.png">
                <p>Code</p>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="block">
              <a href="//github.com/fossasia/susper.com" target="_blank">
                <img src="../../assets/images/github.png">
                <p>Github</p>
              </a>
            </div>
          </div>
        </div>
        <!--First row ends up here-->
        <!--Second row starts from here-->
        <div class="row">
          <div class="col-sm-4">
            <div class="block">
              <a href="//github.com/fossasia/susper.com/issues" target="_blank">
                  <img src="../../assets/images/bug.png">
                  <div id="text-bug">
                    <p class="bug">Bug</p>
                    <p class="center-align-text">Report</p>
                  </div>
                </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="block">
              <a routerLink="/contact" routerLinkActive="active">
                  <img src="../../assets/images/contact.png">
                  <p class="contact-text">Contact</p>
                </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="block">
              <a routerLink="/advancedsearch" routerLinkActive="active">
                  <img src="../../assets/images/search.png">
                  <p class="search-text">Advanced</p>
                  <p class="center-align-text">Search</p>
                </a>
            </div>
          </div>
        </div>
        <!--Second row ends up here-->
        <hr size="20">
        <!--Third row starts from here-->
        <div class="row">
          <div class="col-sm-4">
            <div class="block">
              <a href="//fossasia.org" target="_blank">
                  <img src="../../assets/images/fossasia.png" style="width: 68px; height: 46px">
                  <p class="fossasia-text">FOSSASIA</p>
                </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="block" id="loklak-logo">
              <a href="//loklak.net" target="_blank">
                <img src="../../assets/images/loklak.png" class="loklak">
                <p class="loklak-text">loklak</p>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="block">
              <a href="//chat.susi.ai" target="_blank">
                <img src="../../assets/images/susi.jpg" class="susi">
                <p>SUSI</p>
              </a>
            </div>
          </div>
        </div>
        <!--Third row ends up here-->
        <!--Fourth row starts from here-->
        <div class="row">
          <div class="block" id="eventyay" style="width: 110px; height: 62px">
            <a href="//eventyay.com" target="_blank">
              <img src="../../assets/images/eventyay.png" class="eventyay">
              <p class="eventyay-text">Eventyay</p>
            </a>
          </div>
        </div>
        <hr size="20">
        <div class="row" id="labs">
          <a href="//labs.fossasia.org" target="_blank" class="lab-link">More on labs.fossasia.org</a>
        </div>
      </div>
    </li>
  </ul>
</div>