li.dropdown-menu-box {
    top: 10px;
}

.menu-row{
  width: 267px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
}
.menu-row a {
    color: #737373;
    text-decoration: none;
}

.menu-item {
    border: 1px solid #fff;
    float: left;
    margin-bottom: 10px;
    display: block;
    width: 87px;
    padding: 10px 0;
    text-align: center;
}
.menu-item:hover {
    border-color: #ddd;
}
.menu-item .img {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-item img {
    display: block;
    margin: 0 auto 5px auto;
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 60px;
}
.menu-item p {
    height: 28px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu {
  height: auto;
  width: 327px;
  padding: 28px;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 19px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -5px;
  right: 20px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

div.block:hover {
    border: 1px solid rgba(150,150,150,0.3);
}

div.block {
    border: 1px solid #fff;
    text-align: center;
}

p {
    padding: 10px;
}

.side-menu{
  width:0;
  float: right;
}

hr {
    clear: both;
    margin-bottom: 10px;
}

div#labs {
    text-align: center;
    margin: 0 0 -20px 0;
}

@media screen and (max-width: 2670px) {
    .dropdown-menu-box {
        margin-left: -80%;
    }
}

@media screen and (min-width: 2560px) {
    .dropdown-menu-box {
        margin-left: -80%;
    }
}

@media screen and (min-width: 812px) and (max-width: 860px) {
    .dropdown-menu-box {
        margin-left: -20%;
    }
    .navbar-right {
        float: right!important;
        margin-right: -30px;
    }
}
@media screen and (min-width: 801px) and (max-width: 811px) {
    li.dropdown-menu-box {
        margin-left: -14%;
    }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
    li.dropdown-menu-box {
        margin-left: -14%;
        top:40px;
    }
}

@media screen and (max-width: 767px) {
    #small-drop {
    position: absolute;
    background-color: white;
    border: 1px solid #cccccc;
    right: -18px;
    left: auto;
  }

  .nav > li > a {
    padding-left: 11px;
    padding-right: 28px;
  }

  .dropdown-menu-box {
      margin-left: -210%;
  }

}
