li.dropdown-menu-box {
    top: 10px;
}

.menu-row{
  width: 267px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
}

.menu-item{
  display: inline-block;
  width: 86px;
}

.dropdown-menu{
  height: 500px;
  width: 327px;
  padding: 28px;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 19px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -5px;
  right: 20px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

div.block:hover {
    border: 1px solid rgba(150,150,150,0.3);
}

div.block{
    text-align: center;
}

p {
    padding: 10px;
}

.loklak {
    width: 41px;
    height: 47.8px;
}

div#loklak-logo {
    padding-top: 6px;
}

div#fossasia-logo {
  padding-top: 6px;
}

div#susi-logo {
  padding-top: 6px;
}

img.eventyay {
    width: 98px;
    height: 28.2px;
}

div#eventyay {
    padding-left: 5px;
}

p.eventyay-text {
    padding-left: 20px;
}

div#labs {
    padding-left: 64px;
    margin-top: -18px;
}

.lab-link {
    color: #737373;
}

p.fossasia-text {
    margin-left: -11px;
}

p.loklak-text {
    margin-left: -5px;
}

p.search-text {
    margin-left: -5px;
}

p.center-align-text {
    margin-top: -30px;
    margin-left: 1px;
}

p.bug {
    margin-left: 7px;
}

#side-menu{
  width:0;
  float: right;
}

div#text-bug {
    margin-left: -5px;
}

p.contact-text {
    margin-left: -8.5px;
}

hr {
    padding-top: 10px;
}

@media screen and (max-width: 2670px) {
    .dropdown-menu-box {
        margin-left: -80%;
    }
}

@media screen and (min-width: 2560px) {
    .dropdown-menu-box {
        margin-left: -80%;
    }
}

@media screen and (min-width: 802px) and (max-width: 828px) {
    .dropdown-menu-box {
        margin-left: -14%;
    }
}

@media screen and (max-width: 768px) {
    .dropdown-menu-box {
        margin-left: 60%;
        margin-top: 60%;
    }
}

@media screen and (max-width: 767px) {
  #small-drop{
    position: absolute;
    background-color: white;
    border: 1px solid #cccccc;
    right: -18px;
    left: auto;
  }
  .nav > li > a{
    padding-left: 11px;
    padding-right: 28px;
  }
  .dropdown-menu-box {
      margin-left: -210%;
  }
}
