/* You can add global styles to this file, and also import other style files */
@media screen and (min-width: 512px){
   
    footer{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width:100%;

    }
}
