<div *ngIf="totalNumber < 1" class="container-fluid col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1">
  <div class="noResults">
    <p>Your search - <em>{{searchdata.query}}</em> - did not match any videos.</p>
    <p>Suggestions:</p>
    <ul>
      <li>Make sure that all words are spelled correctly.</li>
      <li>Try different keywords.</li>
      <li>Try more general keywords.</li>
    </ul>
  </div>
</div>

<div class="result message-bar" *ngIf="totalNumber > 0">
  {{message}}
</div>
<div *ngFor="let item of items$|async" class="result">
  <div class="title">
    <a class="title-pointer" href="{{item.path}}">{{item.title}}</a>
  </div>
  <div class="link">
    <p>{{item.link}}</p>
  </div>
</div>
