<div class="card" [style.color]="themeService.cardColor">
  <h2 class="heading"><b>Analytics</b></h2>

  <div id="filtersearch" *ngFor="let nav of navigation$|async; let i = index">
    <div class="card-container" id="relate" *ngIf="nav.displayname =='Provider' || nav.displayname =='Authors'">
      <h3  class="related-searches"><b>Top {{nav.displayname}}<span *ngIf="nav.displayname.slice(-1)!=='s'">s</span></b></h3>

      <div style="display: block;cursor:pointer;cursor: hand;" *ngFor="let element of ((i != selectedelement)? (nav.elements | slice:0:5) :(nav.elements | slice:0:50) )">
        <a [routerLink]="['/search']" [queryParams]="changequerylook(element.modifier,element)" *ngIf="element.name" href="#" [style.color]="themeService.linkColor">
          {{element.name}} <span class="badge badge-info">{{element.count}}</span>
        </a>
        <a  *ngIf="!element.name" style="color: black;cursor: default" href="#" [style.color]="themeService.linkColor">
          Undefined Author <span class="badge badge-info">{{element.count}}</span>
        </a>
      </div>

      <a style="display: block;cursor:pointer;" (click)="selectelement(i)" *ngIf="selectedelement!=i" [style.color]="themeService.linkColor">
        more..
      </a>
      <a style="display: block;cursor:pointer;" (click)="deselectelement(i)" *ngIf="selectedelement===i" [style.color]="themeService.linkColor">
        less..
      </a>
      <button class="showMoreBtn" (click)="showMore()" *ngIf="selectedelement===i" [style.color]="themeService.linkColor">Show All {{nav.displayname}}<span *ngIf="nav.displayname.slice(-1)!=='s'">s</span></button>
    </div>
  </div>
  <button class="btn" id="toggle-chart-button" (click)="BoxToggle()">
            {{analyticsStatus}} Analytics
  </button>
  <div id="light" class="white_content">
  <div class="graph large">
  <div class="linegraph">
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [chartType]="lineChartType"
            [colors]="lineChartColors"
    ></canvas>
  </div>

  <div class="bargraph">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [chartType]="barChartType"
            [colors]="lineChartColors"
    ></canvas>
  </div>
</div>
</div>
<div class="graph small" [hidden]="analyticsStatus!=='Hide Chart'">
  <div class="linegraph">
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [chartType]="lineChartType"
            [colors]="lineChartColors"
    ></canvas>
  </div>

  <div class="bargraph">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [chartType]="barChartType"
            [colors]="lineChartColors"
    ></canvas>
  </div>
</div>
</div>
<div id="light_analytics" class="white_content_analytics">
    <div class="show_more">
      <h2 class="heading"><b>Analytics</b></h2>
      <div id="filtersearch" *ngFor="let nav of navigation$|async; let i = index">
        <div class="card-container" id="relate" *ngIf="nav.displayname =='Provider' || nav.displayname =='Authors'">
          <h3  class="related-searches" *ngIf="i===currentelement"><b>Top {{nav.displayname}}<span *ngIf="nav.displayname.slice(-1)!=='s'">s</span></b></h3>
          <div style="display: block;cursor:pointer;cursor: hand;" *ngFor="let element of  ((i != currentelement)? (nav.elements | slice:0:0) :nav.elements)">
            <a [routerLink]="['/search']" (click)='showMore()' [queryParams]="changequerylook(element.modifier,element)" *ngIf="element.name" href="#" [style.color]="themeService.linkColor">
              {{element.name}} <span class="badge badge-info">{{element.count}}</span>
            </a>
            <a  *ngIf="!element.name" style="color: black;cursor: default" href="#" [style.color]="themeService.linkColor">
              Undefined Author <span class="badge badge-info">{{element.count}}</span>
            </a>
          </div>
        </div>
      </div>
      </div>
  </div>
<div id="fade" class="black_overlay" (click)='BoxToggle()'><a class="closeX" id="closeX">&#10006;</a></div>
<div id="fade_analytics" class="black_overlay" (click)='showMore()'><a class="closeX" id="closeX">&#10006;</a></div>
