.card {
  /* Add shadows to create the "card" effect */
  border: 1px solid rgba(150,150,150,0.3);
  border-bottom-color: rgba(125,125,125,0.3);
  margin-bottom: 16px;
  padding: 22px 22px 18px 22px;
  transition: 0.3s;
  width: 454px;
  margin-top: 10px;
}

.badge-info {
  background-color: #468847;
  padding: 0.25em;
}

.badge-info:hover {
  background-color: #356635;
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}

/* Heading */
h2 {
  font-size: 2.4em;
}

/* Description */
p {
  line-height: 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

/* Points of interest */
h3 {
  font-size: 1.3em;
  margin-left: -15px;
}

a {
  color: #1a0dab;
  text-decoration: none;
  margin-left: -14px;
  font-size: 13px;
  font-family: Arial, sans-serif;
}

/** Screen Responsiveness **/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @media screen and (max-width: 1307px) { 
    .card {
      width: 366px;
    }
  }
}

@media screen and (max-width: 1307px) {
  .card {
    width: 366px;
  }
}

@media screen and (max-width: 1219px) {
  .card {
    width: 278px;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    width: 95vw;
    margin-left: 4vw;
  }
}
