<div class="card">
  <div id="filtersearch" *ngFor="let nav of navigation$|async">
    <div class="card-container" id="relate" *ngIf="nav.displayname =='Provider' || nav.displayname =='Authors'">
      <h3  class="related-searches"><b>Top {{nav.displayname}}</b></h3>
    <div style="display: block;cursor:pointer;cursor: hand;" *ngFor="let element of nav.elements| slice:0:10">
      <a (click)="changeurl(element.modifier,element)">
        {{element.name}} <span class="badge">{{element.count}}</span>
      </a>
    </div>
  </div>
</div>
