.card {
  /* Add shadows to create the "card" effect */
  border: 1px solid rgba(150,150,150,0.3);
  border-bottom-color: rgba(125,125,125,0.3);
  margin-bottom: 16px;
  padding: 22px 22px 18px 22px;
  transition: 0.3s;
  width: 454px;
  margin-top: 10px;
}

.btn {
  height: 36px;
  line-height: 27px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  outline-color:#4170c6;
  }

.btn:hover {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-color: #f8f8f8;
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
  }

a.closeX {
  position: fixed;
  right: 1%;  
  width:20px;
  color: #ffffff;
  border-radius: 20px;
  padding-left: 3px; 
  padding-top: 1px;
  cursor:pointer; 
  z-index: -1;
  font-size:20px; 
  top: 1%;
}
.show_more{
  display:block;
  cursor:pointer;
}
.showMoreBtn{
  height: 30px;
  line-height: 27px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  outline-color:#4170c6;
  cursor: pointer;
}
.showMoreBtn:hover {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-color: #f8f8f8;
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
  }

  .black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.6;
    opacity:.60;
    filter: alpha(opacity=60);
  }

  .white_content {
    display: none;
    position: fixed;
    top: 10%;
    left: 25%;
    width: auto;
    height: 520px;
    padding: 16px;
    background-color: white;
    z-index:1002;
    overflow: auto;
    margin-left: 6vw;
    border-radius: 2%;
  }
  .white_content_analytics {
    display: none;
    position: fixed;
    top: 10%;
    left: 35%;
    width: 454px;
    height: 520px;
    padding: 16px;
    background-color: white;
    z-index:1002;
    overflow: auto;
  }
.large{
  width: 500px;
  height: 450px;
  margin-left: 0%;
}
  
.linegraph{
  display: block;
}

.bargraph{
  display: block;
}

.badge{
  font-weight: 500;
  border-radius: 1px;
}

.badge-info {
  background-color: #468847;
  padding: 0.1em;
}

.badge-info:hover {
  background-color: #356635;
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}

/* Heading */
h2 {
  font-size: 2.4em;
}

/* Description */
p {
  line-height: 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

/* Points of interest */
h3 {
  font-size: 1.3em;
  margin-left: -15px;
}

a {
  color: #1a0dab;
  text-decoration: none;
  margin-left: -14px;
  font-size: 13px;
  font-family: Arial, sans-serif;
}

/** Screen Responsiveness **/
  @media screen and (max-width: 1307px) { 
    .card {
      width: 366px;
    }
  }

@media screen and (max-width: 1205px) {
  .card {
    width: 320px;
  }
}

@media screen and (max-width: 767px){
  .card {
    width: 90vw;
    margin-left: 4vw;
  }
}
@media screen and (max-width: 1159px) and (min-width: 768px){
  .card {
    width: 50vw;
  }
}

@media screen and (min-width: 1159px){
  .small {
    display: none;
  }
}

@media screen and (max-width: 1159px){
  .large {
    display: none;
  }
  .show_more{
    display: none;
  }
}
